<ion-header>
  <ion-navbar>
    <ion-title>Project</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goToNewIteration(project)">
        New
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center *ngIf="project">{{project.name}}</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let iteration of iterations">
      <ion-item>
        <h2 (click)="goToIteration(iteration.id)">{{iteration.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary">
          Edit
        </button>
        <button ion-button color="danger">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
